.profile{
    display: inline-block;
    width: 150px;
    vertical-align: top;
    box-shadow: 0 0 5px rgba(0,0,0,5);
    margin-right: 10px;
}
.picture{
    height: 150px;
    width:150px;
    object-fit: cover;
}
p{
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
}
.name{
    font-size: 20px;
    font-weight: bold;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 10px;
}
.mutual{
    color: rgb(100,100,100);
    margin-left: 10px;
}
.add{
    color: white;
    background-color: blue;
    border: none;
    margin-bottom: 4px;
    margin-top:10px;
    margin-left: 10px;
    font-size: 16px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    padding-left: 15px;
    padding-right:15px ;

}